<a href="https://colab.research.google.com/github/SivaKarthikPara/CustomerSegRFM/blob/master/Customer_segmentation_based_on_RFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import datetime as dt
import numpy as np
import os

In [4]:
df = pd.read_csv('CustomerRFM.csv')
# df

In [5]:
#find the coutry in which each of the customer has made purchase
customer_country=df[['Country','CustomerID']].drop_duplicates()
customer_country
#remove null values
df = df[pd.notnull(df['CustomerID'])]
#removes negative values
df.Quantity.min()
df = df[(df['Quantity']>0)]
df.Quantity.min()
#computes totalprice for monetary calculation
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
NOW = dt.datetime(2011,12,10)
#changing date format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [33]:
# from google.colab import drive
# drive.mount('/content/drive')
# dc = df.groupby('CustomerID')
# dc.first()

           InvoiceNo StockCode  ...         Country  TotalPrice
CustomerID                      ...
12431         536389     22941  ...       Australia       51.00
12583         536370     22728  ...          France       90.00
13047         536367     84879  ...  United Kingdom       54.08
13748         536371     22086  ...  United Kingdom      204.00
14688         536378     22386  ...  United Kingdom       19.50
15100         536374     21258  ...  United Kingdom      350.40
15291         536376     22114  ...  United Kingdom      165.60
15311         536381     22139  ...  United Kingdom       97.75
16029         536386     84880  ...  United Kingdom      178.20
16098         536382     10002  ...  United Kingdom       10.20
16250         536388     21754  ...  United Kingdom       17.85
17420         536385     22783  ...  United Kingdom       19.95
17809         536380     22961  ...  United Kingdom       34.80
17850         536365    85123A  ...  United Kingdom       15.30
18074         536384     82484  ...  United Kingdom       19.35

[15 rows x 8 columns]

In [6]:
##calculate the recency, frequency and monetary_value

rfmTable=df.groupby('CustomerID').agg({'InvoiceDate': lambda x: (NOW - x.max()).days, 'InvoiceNo': lambda x: len(x), 'TotalPrice': lambda x: x.sum()})

##Renaming columns

rfmTable.rename(columns={'InvoiceDate': 'recency', 
                         'InvoiceNo': 'frequency', 
                         'TotalPrice': 'monetary_value'}, inplace=True)
rfmTable

In [ ]:

rfmTable['recency'] = rfmTable['recency'].astype(int)
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()
segmented_rfm = rfmTable
segmented_rfm

In [8]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4

In [9]:
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [21]:
#R score calculation

segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
# F Score calculation
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
#M score calculation
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))


R= np.asarray(segmented_rfm[['r_quartile']])
R_mean=np.mean(R);
F= np.asarray(segmented_rfm[['f_quartile']])
F_mean=np.mean(F);
M= np.asarray(segmented_rfm[['m_quartile']])
M_mean=np.mean(M);
final=R_mean+F_mean+M_mean
with open('output1.txt', 'w') as file:
    file.write(str(final))

In [35]:
#combine RFM score
 
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)+ segmented_rfm.f_quartile.map(str)+ segmented_rfm.m_quartile.map(str)
 
segmented_rfm.head()

            recency  frequency  monetary_value  ...  f_quartile  m_quartile  RFMScore
CustomerID                                      ...
12431           696          3          105.60  ...           3           4       134
12583           696         20          855.86  ...           1           1       111
13047           696         17          366.63  ...           2           3       123
13748           696          1          204.00  ...           4           4       144
14688           696         19          444.98  ...           1           2       112

[5 rows x 7 columns]

In [36]:
segmented_rfm[segmented_rfm['RFMScore']=='123'].sort_values('monetary_value', ascending=False).head(10)

            recency  frequency  monetary_value  ...  f_quartile  m_quartile  RFMScore
CustomerID                                      ...
13047           696         17          366.63  ...           2           3       123
16250           696         14          226.14  ...           2           3       123

[2 rows x 7 columns]